:root {
  --acol: rgb(73, 132, 180);
  --bcol: rgb(97, 155, 203);
  --ccol: #2b638f;
  --dcol: rgba(0,0,0,.4);
  --ecol: rgba(255,255,255,.3);
  --fcol: rgba(255,255,255,.5);
  --gcol: rgb(88,154,204);
  --hcol: rgb(90,150,199);
  --backg: #538fbe;
  --border: #2d6898;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: var(--backg);
    margin: 10px;
    border: 1px solid var(--border);
    background-image: linear-gradient(to top, var(--acol) 0%, var(--bcol) 100%);
    background-image: -o-linear-gradient(to top, var(--acol) 0%, var(--bcol) 100%);
    background-image: -moz-linear-gradient(to top, var(--acol) 0%, var(--bcol) 100%);
    background-image: -webkit-linear-gradient(to top, var(--acol) 0%, var(--bcol) 100%);
    background-image: -ms-linear-gradient(to top, var(--acol) 0%, var(--bcol) 100%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, var(--acol)),
      color-stop(1, var(--bcol))
    );
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
-webkit-box-shadow: 0px 6px 0px var(--ccol), 0px 3px 15px var(--dcol), inset 0px 1px 0px var(--ecol), inset 0px 0px 3px var(--fcol);
    -moz-box-shadow: 0px 6px 0px var(--ccol), 0px 3px 15px var(--dcol), inset 0px 1px 0px var(--ecol), inset 0px 0px 3px var(--fcol);
    box-shadow: 0px 6px 0px var(--ccol), 0px 3px 15px var(--dcol), inset 0px 1px 0px var(--ecol), inset 0px 0px 3px var(--fcol);
 
 }
 .square:active {
  background-image: linear-gradient(to top, var(--gcol) 0%, rgb(90,150,199) 100%);
  background-image: -o-linear-gradient(to top, var(--gcol) 0%, rgb(90,150,199) 100%);
  background-image: -moz-linear-gradient(to top, var(--gcol) 0%, rgb(90,150,199) 100%);
  background-image: -webkit-linear-gradient(to top, var(--gcol) 0%, rgb(90,150,199) 100%);
  background-image: -ms-linear-gradient(to top, var(--gcol) 0%, rgb(90,150,199) 100%);
 
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, var(--gcol)),
      color-stop(1, var(--gcol))
  );
 }
 
 
/* Board */

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* Game */

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
/* Game Info */
ol, ul {
  padding-left: 30px;
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}